/* import font here */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root {
  /* CUSTOMIZATION */

  /* app font */
  --fontFamily: Arial;
  /* heading font */
  --headingFontFamily: Comfortaa, Arial;
  /* heading font/thickness */
  --headingFontWeight: 700;

  /* set the background image of the start page here. If no image is to be used, set value to an empty string ("") */
  --startPageBackgroundImagePath: url(https://images.unsplash.com/photo-1499195333224-3ce974eecb47?q=80&w=2851&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);

  /* set the background image of the letter picker here. If no image is to be used, set value to an empty string ("") */
  --letterPickerBackgroundImagePath: url(https://images.unsplash.com/photo-1565071559227-20ab25b7685e?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);

  /* the primary color used: influences background colors and graphics of the letter picker */
  /* !!! MUST BE HEX !!! */
  --primary-color: #7ad0a0;

  --primary-color-light: #f2f4e6cc;
  --primary-color-dark: #179764;

  --success-color: #ffc0cb;
  --success-color-border: #ff8095;

  --main-bg-color: #7ad0a19f;

  --primary-box-shadow: hsla(0, 0%, 65%, 0.6);
  --primary-box-shadow-inset: hsla(0, 0%, 60%, 0.1);
  /* END OF CUSTOMIZATION */

  --font-size-sm: 1rem;
  --font-size-md: 1.5rem;
  --font-size-lg: 2rem;
  --font-size-xl: 2.5rem;

  --btn-padding-sm: 0.3em 0.6em;
  --btn-padding-md: 0.5em 1em;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--fontFamily);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  height: 100dvh;
  overflow: hidden;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);

  background-color: var(--main-bg-color);

  > * {
    display: none;
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .container > .active h1 {
    font-size: var(--font-size-md);
  }

  .container > .active p {
    font-size: var(--font-size-sm);
    line-height: 1.5;
  }

  .btn {
    font-size: var(--font-size-sm);
    padding-inline: var(--btn-padding-sm);
  }
}

/* full width when in landscape mode on smaller screens */
@media (orientation: landscape) and (max-width: 1024px) {
  .container {
    max-width: 100%;
  }

  .groupedContent {
    padding-inline: 1rem;
  }
}

/* return to standard max width when on bigger screens even in landscape */
@media (orientation: landscape) and (min-width: 1025px) {
  .container {
    max-width: 500px;
  }
}

.container > .active {
  display: flex;
  flex-direction: column;
  position: relative;

  h1,
  p,
  .btn {
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: anywhere;
    text-align: center;
  }
}

@media (min-width: 400px) {
  .container > .active p {
    text-align: start;
  }
}

.btn {
  text-transform: uppercase;
  font-size: var(--font-size-md);
  padding-inline: calc(var(--font-size-md) * 1);
  padding-block: calc(var(--font-size-md) * 0.5);
  border-radius: 0.5rem;
  border: 2px solid var(--primary-color-dark);
  background-color: #fff;
  color: #000;

  box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.2),
    inset 0 -2px 4px hsla(0, 0%, 0%, 0.1);

  cursor: pointer;
}

/* START PAGE */

#startPage {
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  ::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: -1;
    /* background-image: var(--startPageBackgroundImagePath); */
    background-image: '';
  }

  #title {
    font-size: 2.5rem;
    font-weight: var(--headingFontWeight);
    font-family: var(--headingFontFamily);
    text-shadow: 1px 2px 3px #00000057;
  }
}

@media (orientation: landscape) and (max-width: 800px) {
  #startPage {
    gap: 0;
  }
}

/* GAME PAGE */

#game {
  justify-content: center;
  gap: clamp(0.2rem, 5vh, 40px);
  z-index: 0;

  .groupedContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
  }

  @media (orientation: landscape) {
    gap: 0;
    padding: 0.5rem;

    .groupedContent {
      flex-direction: row;
      align-items: center;
      gap: 0;
      padding-inline: 1rem;
    }
  }

  @media (orientation: landscape) and (max-width: 768px) {
    flex-direction: row;
    justify-content: space-evenly;

    .statsWrapper {
      display: flex;
    }

    #statsDisplay {
      flex-direction: column;
    }

    .wave {
      display: none;
    }
  }

  @media (max-width: 600px) {
    #statsDisplay {
      padding-bottom: 1.5rem;
    }
    #letterCircle {
      width: clamp(6rem, 75vw, 270px);
    }

    .groupedContent {
      padding-bottom: 1rem;
    }
  }

  @media (max-width: 400px) {
    #statsDisplay {
      .attempts,
      .score {
        flex-direction: row;
        /* padding-top: 2rem; */
      }
      margin-top: 0;
    }
    .wave {
      height: 1rem;
    }
  }

  @media (max-width: 321px) {
    #statsDisplay {
      padding-bottom: 0;
    }

    .wave {
      display: none;
    }

    .groupedContent {
      gap: 0.5rem;
    }
  }

  @media (min-width: 600px) {
    gap: 4rem;

    #letterCircle {
      margin-top: 2rem;
    }

    #help {
      right: 1rem;
    }
  }
}

#letterCircle {
  background-color: transparent;
  align-self: center;
  border-radius: 100%;
  aspect-ratio: 1;
  width: 100%;
  max-width: 300px;
  margin-top: 1rem;
  overflow: hidden;
  position: relative;

  box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.2),
    inset 0 -2px 4px hsla(0, 0%, 0%, 0.1);
}

canvas,
#imageArea {
  cursor: pointer;
}

#imageArea {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;

  border-radius: 100%;
  background-image: var(--letterPickerBackgroundImagePath);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: hsla(0, 0%, 100%, 0.5);
}

#help {
  z-index: 2;
  position: absolute;
  right: 0;
  top: -2px;
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 100%;
  border: 2px solid var(--primary-color-dark);
  color: var(--primary-color-dark);
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;

  cursor: pointer;
}

#help::after {
  content: '\003F';
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: inherit;
  background: rgba(0, 0, 0, 0.5);
  display: none; /* hidden as standard */
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 3;
}

.modal-content {
  background: #fff;
  padding: 1.2rem;
  width: 90%;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  z-index: 4;
}

.close-modal-btn {
  color: #000;
  font-weight: bold;
  font-size: 1.7rem;
  border: none;

  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;

  cursor: pointer;
}

.close-modal-btn::after {
  content: '\2717';
}

@media (max-width: 768px) {
  .modal-content {
    width: 85%;
    max-height: 90%;
    padding: 15px;

    p {
      width: 100%;
    }
  }
}

.statsWrapper {
  position: relative;

  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    z-index: 0;
  }
}

#statsDisplay {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-block: 0.5rem;
  padding-bottom: 2rem;
  position: relative;
  z-index: 1;

  .attempts,
  .score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    > span {
      text-transform: capitalize;
      font-weight: normal;
    }
  }

  span {
    font-size: 1.4rem;
    font-weight: bold;
  }
}

@media (min-width: 768px) {
  #statsDisplay {
    padding-bottom: 3rem;
  }
}

#wordBoard {
  color: hsla(0, 0%, 100%, 0.5);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-inline: 1rem;
}

.letter-row {
  display: flex;
  gap: 5px;
}
@media (max-width: 321px) {
  #wordBoard,
  .letter-row {
    gap: 1px;
  }
}

.letter-box {
  width: 1.8rem;
  aspect-ratio: 1;
  border: 1px solid var(--primary-color-dark);
  background-color: var(--primary-color-light);
  border-radius: 2px;

  font-size: 1.2rem;
  color: #000;

  box-shadow: 0 2px 4px var(--primary-box-shadow),
    inset 0 -1px 2px var(--primary-box-shadow-inset);

  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

@media (max-width: 400px) {
  .letter-box {
    width: 1.5rem;
    font-size: 1.1rem;
  }

  #statsDisplay {
    padding: 0;
    span {
      font-size: 1.1rem;
    }
  }
}

.letter-box.filled {
  background-color: #d4edda;
  border-color: #28a745;
}

.letter-box.filled.keyword {
  background: var(--success-color);
  border-color: var(--success-color-border);
}

#finishPage {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .statRow {
      font-size: 1.5rem;
      display: flex;
      align-items: baseline;
      gap: 0.5rem;
      margin-bottom: 1rem;

      span {
        font-weight: bold;
        font-size: 1.8rem;
      }

      .currentStat {
        line-height: 1;
        font-size: 2.5rem;
      }
    }
  }

  @media (orientation: landscape) and (max-width: 800px) {
    .wrapper {
      gap: 0.5rem;
    }
  }
}

.instructions {
  text-align: start;
  width: 75%;
  max-width: 600px;
  margin: 1rem auto;
  font-size: 1.5rem;
  line-height: 1.5;
}
